@font-face {
  font-family: Libre;
  src: url(Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

.App {
  text-align: center;
  color: white;
  font-family: Libre;
  font-size: 25px;
  padding-top: 30px;
  background-color: black;
}

.Credits {
  font-size: 18px;
  padding-bottom: 40px;
}


.Credits a {
  color: white;
  text-decoration: none;
}

.Instructions {
  text-align: center;
  font-family: Libre;
  padding-top: 30px;
  padding-bottom: 30px;
}