.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 20px;
    height: 20px;
    border: .7px solid black;
}

.grid-cell.active {
    background-color: black;
}

.grid-cell.inactive {
    background-color: white;
}